@import "../../styles/variables.sass";

.link {
    text-decoration: none;
}
.CTABlog {
    margin-bottom: 60px;
    box-shadow: 0 0 16px $heavyShadowOne;
    padding: 24px;
    border-radius: 16px;
    background-color: $shadowOne;
    cursor: pointer;
    &:hover {
    box-shadow: 0 0 16px $heavyShadowTwo;
    background-color: $shadowTwo;
    }
    .go {
        text-align: center;
        font-size: 32px;
        font-weight: 800;
    }
}
