@import "../../styles/variables.scss";

.Portfolio {
    margin-bottom: 110px;

    .title {
        text-align: center;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 40px;
    }

    .container {
        display: flex;
        gap: 16px;
        justify-content: center;
        @media (max-width: $breakpoint2) {
            flex-direction: column;
        }
    }
    .among {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        .one {
            font-size: 28px;
            color: $colorTwo;
        }
        .two {
            font-size: 28px;
            color: $colorThree;
        }
        .three {
            font-size: 28px;
            color: $colorFive;
        }
    }
}