@import "../../styles/variables.sass";

.ContactForm {
    display: flex;

    .formContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 16px;

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .form {
            max-width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .input {
                all: unset;
                padding: 8px;
                box-shadow: 0 0 10px $heavyShadowOne;
                border-radius: 8px;
                width: 100%;
                margin-bottom: 20px;
            }

            .textarea {
                all: unset;
                resize: none;
                padding: 8px;
                box-shadow: 0 0 10px $heavyShadowOne;
                border-radius: 8px;
                width: 100%;
                margin-bottom: 20px;
            }

            .submit {
                background-color: #fff;
                width: 80%;
                padding: 8px;
                border: none;
                box-shadow: 0 0 10px $heavyShadowOne;
                border-radius: 8px;
                &:hover {
                    box-shadow: 0 0 10px $heavyShadowTwo;
                }
            }
        }
    }

    .socialContainer {
        width: 0%;
    }
}

.succeeded {
    font-size: 44px;
    padding: 32px 0;
}