@import "../../styles/variables.scss";

.ContactForm {
    display: flex;
    flex-wrap: wrap;

    .formContainer {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 16px;

        @media (max-width:800px) {
            width: 100%;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .form {
            max-width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            .input {
                all: unset;
                padding: 8px;
                @include shadow1;
                border-radius: 8px;
                width: 100%;
                margin-bottom: 20px;
            }

            .textarea {
                all: unset;
                resize: none;
                padding: 8px;
                @include shadow1;
                border-radius: 8px;
                width: 100%;
                margin-bottom: 20px;
            }

            .submit {
                background-color: transparent;
                width: 80%;
                padding: 8px;
                border: none;
                @include shadow1;
                border-radius: 8px;

                &:hover {
                    @include shadow2;
                }
            }
        }
    }

    .socialContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 40%;

        @media (max-width:800px) {
            width: 100%;
            margin-top: 32px;
        }

        .rowSocial {
            display: flex;
            gap: 20px;
            a {
                @include shadow1;
                border-radius: 50%;
            }
        }
    }
}

.succeeded {
    font-size: 44px;
    padding: 32px 0;
}