@import "./styles/variables.scss";
.Home {
    padding: 16px 10%;
    .header {
        aspect-ratio: 16/5;
        display: flex;
        margin-bottom: 60px;
        margin-top: 16px;
        .titleContainer {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                font-size: 56px;
                text-shadow: 0 0 8px $colorOne, 0 0 30px $heavyShadowOne, 0 0 60px $shadowOne;
            }
            .subtitle {
                color: $colorOne;
                font-size: 28px;
            }
        }
        .imgContainer {
            width: 30%;
            height: 100%;
            position: relative;
            border-radius: 16px;
            overflow: hidden;
            // filter: drop-shadow(0 0 10px $heavyShadowOne);
            @include shadowFilter1;
        }
    }
}
