@import "./styles/variables.sass";
.Home {
    padding: 16px 10%;
    .header {
        aspect-ratio: 16/5;
        display: flex;
        .titleContainer {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                font-size: 48px;
            }
            .subtitle {
                color: $colorOne;
                font-size: 24px;
            }
        }
        .imgContainer {
            width: 30%;
            height: 100%;
            position: relative;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 1px 1px 10px rgba(66, 216, 235, .4);
        }
    }
}
