.Comp  {
    width: 100%;
    .element {
        font-size: 18px;
        margin-bottom: 18px;
        max-width: 100%;
    }
    h3.element {
        font-size: 22px;
    }
    div {
        margin-bottom: 16px;
        span {
            font-size: 18px;
        }
    }
}
