@import "../../styles/variables.scss";

.link {
    text-decoration: none;
}
.PostCard {
    @include shadow1;
    padding: 16px;
    border-radius: 16px;
    max-height: 250px;
    transition: .3s;
    &:hover {
        @include shadow2;
        transform: scale(1.01);
    }
    .title {
        margin-bottom: 16px;
        text-decoration: wavy;
    }
    .p {
        text-decoration: wavy;
    }
}
