@import '../../styles/variables.scss';

.Section {
    margin-top: 24px;
    padding: 16px 16px 2px 16px;
    border-radius: 16px;
    .title {
        margin: 4px 0 24px;
        font-size: 32px;
    }
}

.one {
    // box-shadow: 0 0 10px $colorOne;
    @include shadow1;
    background-color: $shadowOne;
}

.two {
    
    @include shadow2;
    // box-shadow: 0 0 10px $colorTwo;
    background-color: $shadowTwo;
}

.three {
    
    @include shadow3;
    // box-shadow: 0 0 10px $colorThree;
    background-color: $shadowThree;
}

.four {
    
    @include shadow4;
    // box-shadow: 0 0 10px $colorFour;
    background-color: $shadowFour;
}

.five {
    
    @include shadow5;
    // box-shadow: 0 0 10px $colorFive;
    background-color: $shadowFive;
}
